* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(67, 60, 60);
    padding: 5px;
    color: white;
}

h1{
    flex: 2;
    
}

ul{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
li {
    list-style-type: none;
}
button{
    padding: 5px;
    background-color: rgb(51, 140, 242);
    box-shadow: 2px 1px black;
    border: 1px solid black;
    color: white;
}
.active {
    font-weight: bold;
}